
spring:
  thymeleaf:
    prefix: classpath:/templates/
#    mode: HTML5
    encoding: UTF-8
    servlet:
      content-type: text/html
    cache: false
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/housesystem?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8
    username: root
    password: 340824
    driver-class-name: com.mysql.cj.jdbc.Driver
  application:
    name: house

#  mvc:
#    static-path-pattern: /static/**
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.java_muc2019csirrasa.bean
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
logging:
  level:
    com.zoctan.api.mapper : debug
server:
  port: 8080
eureka:
  client:
#    register-with-eureka: false
#    fetch-registry: false
    service-url:
      defaultZone: http://10.151.25.134:8084/eureka
