<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑",serif;font-size:14px;} #l-map{height:1100px;width:100%;}</style>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="myjs/index.js"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=rgkditHGQqDjme0T6k4KITrB3DPXajNB">
    </script>
    <script type="text/javascript">
        var res;
        const tag="<tr><th>房屋名称</th><th>房屋面积</th><th>租价</th><th>房型</th><th><a href=\"javascript:void(0)\" onclick=\"change(this)\">位置</a></th></tr>";
        function search(){
            $.ajax({
                async: false,
                type: "POST",
                url: "http://localhost:8080/search",
                data:{
                    "suggestId":$("#suggestId").val(),
                    "f":$("#f").val(),
                    "g":$("#g").val()
                },
                dataType: "json",
                contentType : "application/x-www-form-urlencoded",
                success: function(data) {
                    alert(data.message);
                    if (data.status===0){
                        // var res = data.result;
                        var table = document.getElementsByTagName('table')[0];
                        console.log(data.result[0]);
                        console.log(data.result[0]['houseName']);
                        var length_ = $("#end").val();
                        length_ = parseInt(length_);
                        console.log(length_)
                        // if (length_===NAN){
                        //     length_ = 0;
                        // }
                        if(length_>data.result.length){
                            length_ = data.result.length;
                        }
                        else if(length_===0){
                            length_ = MAX_LEN;
                        }

                        for(let i =0;i<length_;i++){

                            temp = tag;
                            temp = temp.replace("房屋名称",data.result[i]['houseName']);
                            temp = temp.replace("房屋面积",data.result[i]['houseArea']);
                            temp = temp.replace("租价",data.result[i]['housePrice']);
                            temp = temp.replace("房型",data.result[i]['houseType']);
                            temp = temp.replace("位置",data.result[i]['houseLocation']);
                            console.log(temp);
                            table.innerHTML+=temp;
                        }
                        // $("#table")
                    }

                    // windoxw.location.href="http://localhost:8080";
                },
                error: function(data) {
                    alert("error");
                    window.location.href="http://localhost:8080";
                },
            })
        }
        //有问题
        function change(target) {
            //e.preventDefault();
            $("#show").innerHTML = $(target).text();
            console.log($(target).text());
            scrollTo(0,0);
            searchButton();
        }
        function insert(){

        }
    </script>
    <title>智能房源搜索系统</title>
</head>

<body>
<div id="container" style="width:1400px">
    <div id="header" style="background-color:#FFA500;">
        <h1 style="text-align: center">智能房源搜索系统</h1>
    </div>
    <div id="menu" style="background-color:#FFD700;height:1000px;width:300px;float:left;">
        租房:
        <div>
            <label for="suggestId"></label><input id="suggestId" type="text" name="suggestId" placeholder="请输入区域、商圈、小区" autocomplete="off">
            <label for="start"></label><input type="text" id="start" name="f" list="f">
            <datalist name="f" id="f">
                <option value="a1">按面积排序</option>
                <option value="a2">按价格排序</option>
            </datalist>
            <label for="end"></label><input type="text" id="end" name="g" list="g" value="10">
            <datalist name="g" id="g">
                <option value="10">最大显示10条</option>
                <option value="20">最大显示20条</option>
                <option value="30">最大显示30条</option>
                <option value="50">最大显示50条</option>
                <option value="100">最大显示100条</option>
            </datalist>
<!--            <div id="show" style="display: none">-->
<!--                起点：   终点：-->
<!--            </div>-->


        </div>
        <button id="btn-search fr" onclick="search()">搜索</button>
        <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:250px;height:auto; display:none;"></div>
        <!-- 面积、租价排序 -->
        <table id="table">
            <thead>
            <tr>
                <th>房屋名称</th>
                <th>房屋面积</th>
                <th>租价</th>
                <th>房型</th>
                <th>位置</th>
            </tr>
            </thead>
        </table>
    </div>
    <div id="l-map" style="background-color:#eeeeee;height:1000px;width:1100px;float:left;"></div>
    <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
        版权 ©</div>
    <script type="text/javascript" src="js/mapSearch.js" defer></script>
    <script type="text/javascript" src="js/test.js" defer></script>
</div>
</body>

</html>